In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as math
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import root_mean_squared_log_error as rmsle
from sklearn.metrics import root_mean_squared_error as rmse
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer, accuracy_score
from sklearn.model_selection import KFold
import seaborn as sns
import itertools

In [2]:
train = pd.read_csv("train_comp.csv")
test = pd.read_csv("test_comp.csv")
# sample = pd.read_csv("sample_submission.csv")

train.head()

      Sex  Age  Height  Weight  Duration  Heart_Rate  Body_Temp  Calories
0    male   36     189      82        26         101       41.0       150
1  female   64     163      60         8          85       39.7        34
2  female   51     161      64         7          84       39.8        29
3    male   20     192      90        25         105       40.7       140
4  female   38     166      61        25         102       40.6       146

The simplest baseline prediction is taking the mean of calories.

In [ ]:
# make the submission file! - Kaggle score 1.02164

pred = np.ones(len(test))*train['Calories'].mean()

submission = pd.DataFrame()

submission['id'] = np.arange(len(test))+750000
submission['Calories'] = pred

submission.to_csv("baseline.csv", index=False)

print(submission.head())
print()
print(submission['Calories'].describe())

       id   Calories
0  750000  88.282781
1  750001  88.282781
2  750002  88.282781
3  750003  88.282781
4  750004  88.282781

count    250000.000000
mean         88.282781
std           0.000000
min          88.282781
25%          88.282781
50%          88.282781
75%          88.282781
max          88.282781
Name: Calories, dtype: float64